<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recordatorio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
     <nav class="navbar navbar-dark bg-dark" mb-4>
    <a href="/" class="navbar-brand">   Recordatorio</a>
</nav>



<div class="container">
    <div class="row">
     <!-- formularios -->
     <div class="col-md-5">
     <div class="card">
      <div class="card-body">
     <form action="/add" method="POST">
         <div class="form-group">
             <input type="text" name="titulo" placeholder="Inserte un Titulo" class="from-control">
         </div>
         <div class="form-group">
           <textarea name="descripcion" cols="80" class="form-control" placeholder="Inserte una descripcion"></textarea>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Agregar</button>
     </form>
      </div>
     </div>
     </div>
     <!-- listas -->
     <div class="col-md-7">
    <table class="table table-bordered table-hover">
        <thead>
       <tr>
           <th>Numero:</th>
           <th>Titulo</th>
           <th>Descripcion</th>
           <th>Operacion</th>
       </tr>
        </thead>
        <tbody>
        <% for(var i = 0; i < tareas.length; i++ ){ %>
          <tr>
              <td><%= i +1 %></td>
              <td><%= tareas[i].titulo %></td>
              <td><%= tareas[i].descripcion %></td>
              <td>
                  <a href="/done/<%= tareas[i]._id %>" 
                 class=" btn <%= tareas[i].estado ? 'btn-success': 'btn-dark'%>">Hecho</a>
                  <a href="/delete/<%= tareas[i]._id %>" class="btn btn-danger">Borrar</a>
                  <a href="/edit/<%= tareas[i]._id%>" class="btn btn-info">Editar</a>
              </td>
          </tr>
        <% } %>
        </tbody>
    </table>
     </div>
    </div>  
</div>





</body>
</html>